RODEO_ENVIRONMENT=development
RODEO_DATA_DIR=./.data
RODEO_TIMEZONE=America/New_York
RODEO_STATIC_DIR=./static
RODEO_ALLOWED_HOSTS='["127.0.0.1", "localhost", "testserver"]'
RODEO_ALLOWED_ORIGINS='["http://127.0.0.1:5199", "http://localhost:5199"]'
RODEO_TRANSCRIPTION_ENABLED=true
RODEO_TRANSCRIPTION_MODEL=base.en
# RODEO_ANTHROPIC_API_KEY=
